.container-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #001E27;
    padding: 20px;
    width: 100%;
}
.logo{
    width:50%;
    margin: 40px auto;
}
.separator{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    margin-bottom: 25px;
}
.separator a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}
.separator a::hover{
    opacity:.6;
}
.separator a::active{
    opacity: .8;
}
.icons{
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
}
